# ─── Build ────────────────────────────────────────────────────────────────────
dist/
www/
.capacitor/

# ─── Dependencies ─────────────────────────────────────────────────────────────
node_modules/

# ─── Cache ────────────────────────────────────────────────────────────────────
.cache/
.eslintcache
*.tsbuildinfo

# ─── Testing ──────────────────────────────────────────────────────────────────
coverage/
.nyc_output/

# ─── Environment ──────────────────────────────────────────────────────────────
*.local
.env.*
!.env.example

# ─── OS & Editor ──────────────────────────────────────────────────────────────
.DS_Store
.vscode/settings.json

# ─── Logs ─────────────────────────────────────────────────────────────────────
*.log
npm-debug.log*
pnpm-debug.log*
